.button {
    outline: none;
    display: block;
    border: none;
    background-color: #fff22d;
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto;
    height: 60px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #CDC004;
}
