.outer {
    width: 100%;
    background-color: #ccc;
    height: 150vh;
}

.container {
    max-width: 500px;
    background-color: #fbfbfb;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
}
